.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Delius", serif;
    font-size: 50px;
    align-items: center;
}

.contenedor p {
   margin: 10px;
}

.contenedor img {
    width: 30%;
}